version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: redis-queue
    ports:
      - "6379:6379"

  ingestion:
    build: ./ingestion
    container_name: video-ingestion
    depends_on:
      - redis
    volumes:
      - ./videos:/app/videos
      - shared_memory:/dev/shm    # <--- จุดนัดพบที่ 1 (แชร์ RAM)
    environment:
      - REDIS_HOST=redis
      - INPUT_SOURCE=/app/videos/test_video.mp4
      # - INPUT_SOURCE=0  <-- ถ้าจะเปลี่ยนเป็น Webcam แก้ตรงนี้

  # --- เพิ่มส่วนนี้เข้าไปครับ ---
  processing:
    build: ./processing
    container_name: ai-worker
    depends_on:
      - redis
      - ingestion
    volumes:
      - shared_memory:/dev/shm    # <--- จุดนัดพบที่ 1 (ต้องเหมือนกันเป๊ะ)
    environment:
      - REDIS_HOST=redis
  # -------------------------

volumes:
  shared_memory: