version: '3.8'

services:
  # Database Service
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5420:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - truck_system_network

  # Streamlit Web App Service
  web:
    build: .
    container_name: streamlit_app
    ports:
      - "8501:8501"
    depends_on:
      - db
    environment:
      - DATABASE_URL=${DATABASE_URL}
    networks:
      - truck_system_network

volumes:
  postgres_data:

networks:
  truck_system_network:
    name: ${NETWORK_NAME:-truck_system_network}
    external: true