version: '3.8'

services:
  # 1. Message Queue
  redis_broker:
    image: redis:alpine
    container_name: my-redis
    ports:
      - "6379:6379"

  # 2. Video Ingestion Service
  ingestion_service:
    build: .
    container_name: video-ingester
    depends_on:
      - redis_broker
    volumes:
      # Map โฟลเดอร์ videos ในคอมเรา -> เข้าไปใน Docker
      - ./videos:/app/videos
      
      # Map โฟลเดอร์ output -> จำลองเป็น Shared Memory/Volume
      # ไฟล์ .npy จะโผล่ที่เครื่องคุณในโฟลเดอร์ output_shared
      - ./output_shared:/app/shared_memory
    
    # (สำคัญ) ถ้าวิดีโอใหญ่มาก Shared memory ของ Docker อาจจะไม่พอ
    # บรรทัดนี้ช่วยเพิ่ม shared memory limit
    shm_size: '2gb'